@using SmartBoard.Models
@model Tuple<ClienteModel, List<DispositivoModel>, List<AmbienteModel>, List<TipoDispositivoModel>>
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "SmartBoard Técnico - Lista de Dispositivos Cliente";
}
<style>
    .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

        .content-table thead tr {
            background-color: #808080;
            color: #ffffff;
            text-align: left;
        }

        .content-table th,
        .content-table td {
            padding: 12px 15px;
        }

        .content-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

            .content-table tbody tr:nth-of-type(even) {
                background-color: #f3f3f3;
            }

            .content-table tbody tr:last-of-type {
                border-bottom: 2px solid #808080;
            }

            .content-table tbody tr.active-row {
                font-weight: bold;
                color: #ffa500;
            }
</style>

<div class="bg-white rounded-xl shadow-lg py-7 px-7 mt-5 justify-center">
    <div class="flex flex-wrap justify-center align-middle w-full">
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-3">
            <a role="button" class="btn btn-primary" asp-controller="DeviceTecnico" asp-action="AdicionarDispositivoCliente" asp-route-id="@Model.Item1.IdCliente">Adicionar Contato</a>
        </div>
        <span class="text-xl text-gray-800 w-4/5 align-middle text-center font-bold justify-center">Bem Vindo, Segue a lista de clientes disponíveis.</span>
        <div class="flex flex-wrap justify-center align-middle w-4/5 mt-12">
            <table id="myTable" class="content-table">
                <thead>
                    <tr>
                        <th>Nome Dispositivo</th>
                        <th>Porta</th>
                        <th>Ambiente</th>
                        <th>Tipo de Dispositivo</th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model != null && Model.Item2.Any())
                    {
                        foreach(DispositivoModel dispositivo in Model.Item2)
                        {
                            AmbienteModel ambiente = new AmbienteModel();
                            ambiente = Model.Item3.Find(x => x.IdAmbiente == dispositivo.IdAmbiente);
                            TipoDispositivoModel tipoDispositivo = new TipoDispositivoModel();
                            tipoDispositivo = Model.Item4.Find(x => x.IdTipoDispositivo == dispositivo.IdTipoDispositivo);

                            <tr class ="text-gray-700 hover:text-orange-400">
                                <td>@dispositivo.Nome</td>
                                <td>@dispositivo.Porta</td>
                                <td>@ambiente.Nome</td>
                                <td>@tipoDispositivo.Nome</td>
                                <td>
                                    <a role="button" class="btn btn-primary" asp-controller="DeviceTecnico" asp-action="EditarDispositivoCliente" asp-route-id="@dispositivo.IdDispositivo">Editar</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div> 
</div>
@section Scripts {

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
                }
            });
        });
    </script>
}